/* Definindo fontes e cores principais */
body {
    font-family: 'Arial', sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

h2 {
    color: #e67e22; /* Laranja, cor vibrante de Festa Junina */
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    color: #e74c3c; /* Vermelho para os links */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

a:hover {
    color: #16a085; /* Verde para o hover nos links */
    text-decoration: underline;
}

/* Estilizando o Banner */
img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #e67e22; /* Adiciona uma borda inferior laranja */
}

/* Estilo para a seção de links */
#TOPO {
    background-color: #f39c12; /* Cor de fundo amarela para o topo */
    padding: 40px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

li a {
    display: block;
    padding: 10px;
    background-color: #f1c40f; /* Amarelo para o fundo dos links */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #d35400; /* Cor alaranjada no hover */
}

/* Ajustes de fontes */
h2, a {
    font-family: 'Comic Sans MS', sans-serif; /* Fonte mais descontraída e divertida */
}

body {
    color: #2c3e50; /* Texto escuro para contraste */
}

/* Adicionando animações e efeitos */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, #TOPO {
    animation: fadeIn 1.5s ease-out;
}

